body {
    margin: 0 auto;
    background-color: #f6f6f6;
}

/*********  HEADER  ***********/

header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 90%;
    height: 120px;
    background-color: #b46936;
    border-radius: 0 0 20px 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
}

li a {
    color: #dad6ce;
    text-decoration: none;
    font-size: 2em;
}

li a:hover {
    color: #bc9e70;
}

/******* MAIN *********/

main {
    margin: 0 auto;
    width: 90%;
}

section {
    margin-bottom: 3%;
}

h1, h2, a {
    font-family: 'Alata', sans-serif;
}

h1, h2 {
    font-size: 2.5em;
}

p, label, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/***** SEARCH ******/

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: #1e1f1f;
    color: white;
}

#name {
    width: 50%;
    height: 40px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: burlywood;
    width: 20%;
}

.event-image {
    width: 100%;
    height: auto;
}

.event-name {
    color: blueviolet;
}

.event-short-description {
    font-style: italic;
}

.heart {
    width: 10%;
    cursor: pointer;
}

.unselected {
    color: red;
    border: 1px red solid;
    background-color: white;
}

.selected {
    color: white;
    background-color: red;
    border: 1px red solid;
}